<!DOCTYPE html>
<html>

<head>
  	<!-- cytoscapeの読込み-->
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/cytoscape.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css" media="all">
    
    <!-- qtipの読込み -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/jquery.qtip.min.css" media="all">
    <script src="/js/cytoscape-qtip.js"></script>
    <script src="/js/jquery.qtip.min.js"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div id="cy"></div>
  <script>
    var cy = cytoscape({
      container: document.getElementById('cy'),
      style: cytoscape.stylesheet()
        .selector('node')
        .css({
          'id': 'data(id)',
          'shape': 'data(faveShape)',
          'width': 'mapData(weight, 40, 80, 20, 60)',
          'height': 'mapData(weight, 40, 80, 20, 60)',
          'content': 'data(name)',
          'text-outline-color': 'data(faveColor)',
          'background-color': 'data(faveColor)',
          'color': 'data(faveColor)',
        })
        .selector('edge')
        .css({
          'curve-style': 'bezier',
          'target-arrow-shape': 'triangle',
          'width': 3,
          'line-color': '#ddd',
          'target-arrow-color': '#ddd'
        }),
    });

    $.getJSON("/showAllJob/show", function (elm) {
      new Promise(function (resulve, reject) {
        for (no in elm) {
          cy.add({
            group: elm[no].group,
            data:elm[no].data
          })
        }
        resulve()
      }).then(function () {
        cy.nodes().qtip({
          content: function(){ return 'JobName:' + this.data('name') + 
          '\n' + 'Cycle:' + this.data('cycle') +
          '\n' + 'OperatingTime:' + this.data('operatingTime') +
          '\n' + 'Comment:' + this.data('comment') 
        } , 
					position: {
						my: 'top center',
						at: 'bottom center'
					},
					style: {
            classes: 'qtip-bootstrap',
            width: '400px',
						tip: {
							width: 40,
							height: 8
						}
					}
				})
        cy.layout({
          name: 'breadthfirst',
          circle: false,
          fit: true,
          directed: true,
          padding: 10
        }).run()
      })
    })
  </script>
</body>

</html>