<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <% include common/header %>
    <div class="container">
      <form action="/result" method="post" class="board-form">
        <div class="row mt-4">
          <div class="col-8 offset-2">
            <input class="form-control" name="JobID" type="text" placeholder="JobIDを入力して下さい">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-8 offset-2">
            <button type="submit" class="btn btn-block btn-lg btn-success">影響調査開始</button>
          </div>
        </div>
      </form>
    </div>
</body>

</html>