<!DOCTYPE html>

<html>

<head>
</head>

<body>

<div class="row">
			<div class="col-md-12">
				<div class="footer">
					<div class="clearfix">
						<dl class="footer-nav">
							<dt class="nav-title">Navigation</dt>
							<dd class="nav-item">
								<a href="login.html">login</a>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			
</body>
</html>


