<!DOCTYPE html>

<html>

<head>

	<title>
		<% title %>
	</title>
	<meta charset="utf-8">
	
	<!-- 基本レイアウト -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/vendor/bootstrap.min.css" media="all">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/flat-ui.css" media="all">
	<script src="/js/jquery-1.10.1.min.js"></script>
	<script src="/stylesheets/scripts/flat-ui.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
		<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-01" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbar-collapse-01" style>
			<ul class="nav navbar-nav mr-auto">
				<li>
					<a class="navbar-link" href="/">
						<font color="#FFFFFF"> TOP </font>
					</a>
				</li>
				<li>
					<a class="navbar-link" href="/showAllJob">
						<font color="#FFFFFF"> Job全体図 </font>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="topic">
		<div class="container">
			<h3>影響調査ツール</h3>
		</div>
	</div>


</body>

</html>